<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutrition Program</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
    <style>
        .home-button {
            position: absolute;
            top: 10px;
            left: 10px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <a href="{{ url_for('main') }}" class="home-button">
        <img src="{{ url_for('static', filename='home.png') }}" alt="Home" width="40" height="40">
    </a>
    <div class="nutrition-container">
        <h1>Nutrition Program</h1>
         <!-- Add a button to navigate to add_food.html -->
        {% if role == "trainer" or role == "solo-client" %}
        <div class="nutrition-btn-container">
            <form action="{{ url_for('create_nutrition_program') }}" method="POST">
                <label for="n_name">Name:</label><br>
                <input type="text" id="n_name" name="n_name" required><br>                
                <label for="n_description">Description:</label><br>
                <textarea id="n_description" name="n_description" rows="4" cols="50"></textarea><br>
                <label for="n_difficulty">Difficulty:</label><br>
                <select id="n_difficulty" name="n_difficulty">
                    <option value="1">Easy</option>
                    <option value="2">Medium</option>
                    <option value="3">Hard</option>
                    <option value="4">Professional</option>
                </select><br>
                <button type="submit" class="nutrition-btn">Create Nutrition Program</button>
            </form>        
        </div>
        {% endif %}
        <!-- View Nutrition Programs -->
        <h2 class="h2-nutrition">View Nutrition Programs</h2>
        <ul class="ul-nutrition">
            {% for program in nutrition_programs %}
            {% if program.user_id == session.user_id or program.user_id in managed_clients_user_ids %}
                <li class="li-nutrition">
                    <strong>Name:</strong> {{ program.n_name }}<br>
                    <strong>Description:</strong> {{ program.n_description }}<br>
                    <strong>Difficulty:</strong> {{ program.n_difficulty }}<br>
                    <ul class="ul-food">
                        {% for food in nutrition_program_food[program.n_id] %}
                            <li class="li-food" style="font-size: 80%;">
                                <p>{{ food.food_name }} - Calories: {{ food.calories_serving }}</p>
                                <p>Serving Size: {{ food.serving_size }}</p>
                                <p>Carbs: {{ food.carbs }}, Fat: {{ food.fat }}, Protein: {{ food.protein }}</p>  
                            </li>
                        {% endfor %}
                    </ul>
                    {% if role == "trainer" or role == "solo-client" %}
                        <form action="{{ url_for('delete_nutrition_program', id=program.n_id) }}" method="post" style="display: inline;">
                            <button type="submit" class="main-button">Delete</button>
                        </form>        
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
        
        </ul>
        <form action="{{ url_for('calculate_bmi') }}" method="POST">
            <!-- Form inputs for BMI calculation go here -->
            <button type="submit" class="nutrition-btn">Calculate BMI</button>
        </form>        
    </div>
</body>
</html>
