<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutrition Program</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>
<body>
    <div class="nutrition-container">
        <h1>Nutrition Program</h1>
        {% if role == "solo-client" %}
            <div class="nutrition-btn-container">
                <a href="#" class="nutrition-btn">Create Nutrition Program</a><br>
                <a href="#" class="nutrition-btn">View Nutrition Program</a><br>
                <a href="#" class="nutrition-btn">Delete Nutrition Program</a><br>
            </div>
        {% elif role == "client" %}
            <div class="nutrition-btn-container">
                <a href="#" class="nutrition-btn">View Nutrition Program</a><br>
            </div>
        {% elif role == "trainer" %}
            <div class="nutrition-btn-container">
                <a href="#" class="nutrition-btn">Create Nutrition Program</a><br>
                <a href="#" class="nutrition-btn">View Nutrition Program</a><br>
                <a href="#" class="nutrition-btn">Delete Nutrition Program</a><br>
            </div>
        {% endif %}
    </div>
</body>
</html>
