<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout Program</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
    <style>
        .home-button {
            position: absolute;
            top: 10px;
            left: 10px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <a href="{{ url_for('main') }}" class="home-button">
        <img src="{{ url_for('static', filename='home.png') }}" alt="Home" width="40" height="40">
    </a>
    <div class="workout-container">
        <h1 class="h1-workout">Workout Program</h1>
        
        {% if role == "trainer" %}
        <!-- Form to create a new workout program -->
        <h2 class="h2-workout">New Workout Program</h2>
        <form class="form-workout" id="createWorkoutForm" action="{{ url_for('create_workout') }}" method="post">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name"><br>
            <label for="description">Description:</label><br>
            <textarea id="description" name="description"></textarea><br>
            <label for="difficulty">Difficulty:</label><br>
            <input type="text" id="difficulty" name="difficulty"><br>
            <input type="submit" value="Add Exercises" class="main-button">
        </form>
        {% endif %}
        
        <!-- View Workouts -->
        <h2 class="h2-workout">View Workouts</h2>
        <ul class="ul-workout">
            {% for workout in workouts %}
            <li class="li-workout">{{ workout.name }} - {{ workout.description }} (Difficulty: {{ workout.difficulty }})
                {% if role == "trainer" %}
                <button onclick="deleteWorkout('{{ workout.workout_id }}')" class="main-button">Delete</button>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
